body{
    background-color: rgb(234, 243, 242);
    background-repeat
    font: normal 16px tahoma;

}


h1{
    color:rgb(118, 235, 229);
    background-color:rgb(34, 84, 131);
    border: 25px rgb(25, 37, 207) solid;
    border-style: ridge;
    
    margin: 50px auto;
    font: bold 3em tahoma, arial, helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;    
    
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 5px;
    padding-right: 5px;
    /*same as above*/
    padding: 25px 5px;   

}

.style-1{
    background-color: rgb(153, 180, 197);
    border-style: ridge;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    text-align:center;   

}



li{
    display:inline;
    padding: 25px 75px;
    font: 1.6em tahoma, arial, helvetica, sans-serif;
    
}

a.style-2:link {text-decoration:none;}
a.style-2:visited {color:#0000ff;text-decoration:none;}
a.style-2:hover {text-decoration:underline;}